
/*Code de débug seulement */


/* Styles généraux pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* En-tête */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

/* Logo */
header img {
    max-width: 100%;
    height: auto;
}

/* Sections */
section {
    margin-bottom: 30px;
    padding: 20px 0;
    text-align: center;
}

/* Description */
section:nth-of-type(1) {
    background-color: #f8f9fa;
}

/* Personnalisation */
section:nth-of-type(2) {
    background-color: #e9ecef;
}

section:nth-of-type(2) iframe {
    width: 100%;
}

section:nth-of-type(2) .btn-primary {
    display: block;
    margin-top: 1rem;
}

/* Nos programmes */
section:nth-of-type(3) {
    background-color: #f8f9fa;
}

section:nth-of-type(3) img {
    max-width: 100%;
    height: auto;
}

section:nth-of-type(3) .btn-primary {
    display: block;
    margin-top: 1rem;
}

/* S'inscrire */
section:nth-of-type(4) {
    background-color: #e9ecef;
}

section:nth-of-type(4) .btn-primary {
    display: block;
    margin-top: 1rem;
}

/* Responsive pour les tablettes */
@media (min-width: 768px) {
    header {
        padding: 20px;
    }
    section {
        margin-bottom: 50px;
        padding: 30px;
    }
}
